body {
    background-color: white;
    font-family: 'Roboto', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
  }
  
  .sin-acceso{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    row-gap: 1rem;
  }
  
  .sin-acceso-content {
    margin-bottom: 2rem;
  }
  
  .button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #b57e10; 
    color: white;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    transition: background 0.3s ease, color 0.3s ease, transform 0.3s ease;
    text-decoration: none;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);

}

.button:hover {
    background: linear-gradient(to right, #975f0c, #b57e10);
    color: white;
    transform: scale(1.05);
}